/*general*/
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
a:link, a:visited,  a:hover, a:active
{
    text-decoration: none;
    color: inherit;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.color_naranja{
    color: #ff6e0d;
}
.font1{
    font-family:"Poppins";
    font-size: 17px;
    font-weight: 600;
}
body{
    overflow-x: hidden;
}

/* ----- Index ----- */
.grilla{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "box1 box1 box1"
    "box2 box2 box2"
    "box3 box4 box5"
    "box6 box6 box7";
}

.box1{
    grid-area: box1;
} 
.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
}
.box4{
    grid-area: box4;
}
.box5{
    grid-area: box5;
}
.box6{
    grid-area: box6;
    background-color: #e8e9eb;
}
.box7{
    grid-area: box7;
 }

 /*header*/
.fondo_header{
    background-color: #010506;
    height: 103px;
}
.acomodar{
    display: flex;
    flex-direction: row;
    margin-right: 70px;
}
header nav ul li{
    margin: 0 15px 0 0;
    color: #ff6e0d;
    font-family: "Poppins";
    font-size: 17px;
    font-weight: 600;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  /*medio*/
.titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Montserrat";
    font-size: 40px;
    color: #ff6e0d;
    font-weight: 800;
}
.texto-normal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Montserrat";
    font-size: 20px;
    color: white;
}
.fondo1{
    background-image:url(../img/gyym2.jpg);
    background-repeat: no-repeat;
}
.medio{
    height: 470px;
}
.centrar_todo{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.centrar_boton{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.margen-boton{
    margin-top: 20px;
    margin-bottom: 20px;
}
.formulario{
    color: white;
    font-size: 20px;
    font-family: "Montserrat";
    padding:15px 20px 15px 20px;
    border-color: #090809;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    background-color: #090809;
    
}
.link {
    transition: color 0.3s ease-in-out;
}
.link{
    color: white;
}
.link:hover {
    color: #ff6e0d;
}

/*fotos*/
.fondo2{
    background-color: #010506;
}
.acomodar_fotos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
   
}
.acomodar_texto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.font-medio{
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
}
.margen{
    margin: 40px 0 40px 0;
}
.botones{
    color: white;
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 700;
    padding:10px 20px 10px 20px;
    border-color: #ff6e0d;
    border-width: 3px;
    border-style: solid;
    background-color: #ff6e0d;
}
/*footer*/
.fondo3{
    background-color: #e8e9eb;
}
.imagen{
    width: 30px;
    height: 30px;
}
.imagen2{
    width: 35px;
    height: 30px;
}
.texto_footer{
    font-family: "Poppins";
    font-size: 20px;
    color: #090809;
    text-indent: 1px;
    margin-left: 10px;
    text-align: left;
    line-height: 40px;
}
.acomodar_redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.mapa{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0px;
}
.cont{
    position: relative;
    text-align: justify;
    color: rgb(255, 251, 251);
}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
@media screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px){
    .grilla{
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "box1"
        "box2"
        "box3"
        "box4"
        "box5"
        "box6";
    }   
    .grilla section{
        display: none;
    } 
    .box6{
        background-color: #e8e9eb;
    }
    .margen{
        margin: 10px;
    }
}
/* fin index */

/* ----- Clases ----- */
.texto_clases{
    font-size: 20px;
    font-family: "Montserrat";
    color: #ff6e0d;
    font-weight: bold;
}
.grid-clases{
    width: 1230px;
    height: 910px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-auto-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 20px 20px 30px 20px;
}
.tamaño-container{
    height: 450px;
    width: 300px;
}
.margen-galeria{
    margin-left: 40px;
}
.background-img1{
    background-image: url(../img/gym12.jpg);
}
.background-img2{
    background-image: url(../img/spinning.jpg);
}
.background-img3{
    background-image: url(../img/zumba.jpg);
}
.background-img4{
    background-image: url(../img/pilates.jpg);
}
.background-img5{
    background-image: url(../img/funcional.jpg);
}
.background-img6{
    background-image: url(../img/yoga.jpg);
}
.background-img7{
    background-image: url(../img/boxing.jpg);
}
.background-img8{
    background-image: url(../img/gap.jpg);
}
.letra-clases{
    font-size: 15px;
    font-family: "Montserrat";
    color: #e8e9eb;
    text-align: justify;
    vertical-align: baseline;
    padding: 0;
}
.letra-titulos{
    font-family: 'Passion One';
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.zoom{ 
    width: 300px; 
    height: 450px; 
    padding: 50px; 
    margin: 0 auto;  
    transition: transform .2s;
}
.zoom:hover{
    transform: scale(1.2);
}
/* ----- Nosotros ----- */
.texto_nosotros{
    font-size: 20px;
    font-family: "Poppins";
    color: white;
    text-align: justify;
    line-height: 40px;
}
.fondo5{
    background-image: url(../img/gym14.jpg);
    background-repeat: no-repeat;
    height: 350px;
}

/* ----- Planes ----- */
.flex-lista{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
}
.texto_planes{
    font-size: 20px;
    font-family: "Poppins";
    color: black;
    font-weight: 600;
    text-align: justify;
    margin-left: 10px;
    margin-bottom: 15px;
}
.fondo6{
    background-image: url(../img/planes.jpg);
}
.letra-planes{
    font-family: 'Passion One';
    color: white;
    font-size: 70px;
    font-weight: 500;
}
.margen-planes{
    margin: 0 0 30px 0;
}

/* ----- Servicios ----- */
.flex-texto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flex-servicios{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.margiin{
    margin-left: 200px;
}
.otro-margen{
    margin-left: 130px;
    margin-bottom: 20px;
}

.grilla-servicios{
    display: grid; 
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr); 
    grid-template-areas: 
    "header header header header"
    "titulo . . ."
    ". nutri spa ."
    ". sauna fisio ."
    ". boton . ."
    "footer footer footer mapa";
}
.caja1{
    grid-area: header;
}
.caja2{
    grid-area: titulo;
}
.caja3{
    grid-area: nutri;
}
.caja4{
    grid-area: spa;
}
.caja5{
    grid-area: sauna;
}
.caja6{
    grid-area: fisio;
}
.caja7{
    grid-area: boton;
}
.caja8{
    grid-area: footer;
}
.caja9{
    grid-area: mapa;
}
@media screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px){
    .grilla-servicios{
        display: grid; 
        width: 100vw;
        height: 100vh;
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(8, 1fr);  
        grid-template-areas: 
        "header"
        "titulo"
        "nutri"
        "spa"
        "sauna"
        "fisio"
        "boton"
        "footer";
    }
    .grilla-servicios section{
        display: none;
    }
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .grilla-servicios{
        display: grid; 
        width: 100vw;
        height: 100vh;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(6,1fr);
        gap: 10px 0px; 
        grid-template-areas: 
        "header header header header"
        "titulo . . ."
        ". nutri spa ."
        ". sauna fisio ."
        ". boton . ."
        "footer footer footer mapa";
    
    }
}
 /* --- Planes ---  */
.flex-lista{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
}
.texto_planes{
    font-size: 20px;
    font-family: "Poppins";
    color: black;
    font-weight: 600;
    text-align: justify;
    margin-left: 10px;
    margin-bottom: 15px;
}
.fondo6{
    background-image: url(../img/planes.jpg);
    background-repeat: no-repeat;
}
.letra-planes{
    font-family: 'Passion One';
    color: white;
    font-size: 70px;
    font-weight: 500;
}
.margen-acordion{
    margin: 10px 10px 30px 10px;
}
.naranja{
    color: #ff6e0d;
}
.margin{
    margin: 0 0 0 0;
    padding: 0;
}
.padding-cero{
    padding: 0;
}  
.row{
    margin-left: 0;
    margin-right: 0;
}
.row1{
    background-color: #040404;
}