@import "colores";
footer{
    background-color: $gris;
    position: relative;
    text-align: justify;
        div h4{
            font-family: "Poppins";
            font-size: 20px;
            color: $negro;
            text-indent: 1px;
            margin-left: 10px;
            text-align: left;
            line-height: 40px; 
        }
            div p{
                font-family: "Poppins";
                font-size: 20px;
                color: $negro;
                text-indent: 1px;
                margin-left: 10px;
                text-align: left;
                line-height: 40px; 
            }
                article{
                    position: absolute;
                    bottom: 8px;
                    left: 16px;
                }
                    article ul{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        list-style-type: none;
                    }
                        article ul li img{
                            width: 30px;
                            height: 30px;
                        }
                            span{
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-end;
                                margin-top: 0px;
                            }
}